.navbar-brand {
    float: left;
    padding: 15px 15px;
    line-height: 20px;
    height: 50px;
    }
.navbar-brand > img {
    display: block;
    max-height: 100%;
    }
.navbar-right {
    padding-top:7px;
}
.navbar.scrolled {
    background: rgb(68, 68, 68); //IE
    background: rgba(0, 0, 0, 0.78); //NON-IE
}
.navbar {
    margin-bottom: 0;
	z-index: 5;
}
.navbar-fixed-top {
	height:100px;
}
.container {
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
.sm-logo {
	height:50px;
	padding-top: 5px
	}
.white-text {
    color: #F5F5F5;
    text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 3);
}
.title-text {
	margin-top: 100px;
	font-size: 3em;
    line-height: 150%;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}