body {
    padding-top: 70px;
    background-color: #36d6f3;
}
nav {
    margin-bottom: 0px;
}
.container-fluid, 
.navbar-collapse, 
.collapse, 
.navbar-header, 
.bs-example-navbar-collapse-1 {
    margin-bottom: 0px    
}
.nav, 
.navbar-nav, 
.navbar-right {
    margin-bottom: 0px;
    padding-left: 5%;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 70px;
    }
.navbar-brand > img {
    display: block;
    max-height: 100%;
    }
.navbar-right {
    padding-top:7px;
}
.navbar.scrolled {
    background: rgb(68, 68, 68); //IE
    background: rgba(0, 0, 0, 0.78); //NON-IE
}
*,
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6  {
    font-family: "Abel";
    text-align: center;
}
#top-div {
    background-image: url(photos/cropped-guitar.jpg);
    background-size: cover;
    padding-top:25px;
    padding-bottom:50px;
    text-align: center;
}
.gunmetal-text {
    color: #2e3338;
    text-align: center;
    text-shadow: 0
}
.white-text {
    color: #F5F5F5;
    text-align: center;
}
.no-shadow {
    text-shadow: none !important;
}
.col-sm-6 {
    padding-top:20px; 
    padding-bottom:20px;
    padding-left: 5%;
    padding-right: 5%;
}
.yellow-background {
    background-color: #ffcb4c;
}
.orange-background {
    background-color: #f35e41;
}
.gunmetal-background {
    background-color: #2e3338;
}
.logo-download {
    background-image: url(src="photos/LMW2016_weblogo.png");
    width: 50%;
    margin-left:25%;
    margin-right: 25%;
}
.partners-bg {
    background-image: url(photos/833.jpg);
    background-size: fill;
    padding-top: 25px;
    padding-bottom: 50px;
}
.partners-img {
    width:75%;
}
.calendar-img {
    width:100%;
}
.no-padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.col-sm-4 {
    padding:10px;
}