.row-centered {
    text-align:center;
}
.top-margin {
	margin-top: 15%;
}
.top-margin-sm {
	margin-top: 15px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
